/* define global CSS variables here */
:root {
    --color-primary: #de8087;
    --var-shift-bg: 0.4;
    --color-primary-bg: color(
        from var(--color-primary)
        srgb-linear 
        calc(r + var(--var-shift-bg))
        calc(g + var(--var-shift-bg))
        calc(b + var(--var-shift-bg)));
    --color-page-bg: #fff;

    --px-sidebar-width: #{$px-sidebar-width};
    --px-main-max-width: #{$px-main-max-width};
    --color-sidebar-bg: #2c2c2c;
    --color-sidebar-text: #a0a0a0;
    --color-sidebar-active: var(--color-primary);
}

body {
    margin: 0;
}

/* styles for the main app container */
.layout-app {
    max-width: $px-main-max-width;
    margin: 0 auto;
    height: 100vh;
}

.style-app {
    background-color: var(--color-page-bg);
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "Noto Sans JP",
        sans-serif;
}
